<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Calendario</title>
</head>
<body>
{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-12">
            <h2>Calendario laboral</h2>
            <div id="calendar"></div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    $(document).ready(function() {
    let events = [
        {% for evento in eventos %}
        {
            title: '{{ evento.titulo }}',
            start: '{{ evento.fecha_inicio|date:"c" }}',
            {% if evento.fecha_fin %}
            end: '{{ evento.fecha_fin|date:"c" }}',
            {% endif %}
            color: '{{ evento.color }}'
        },
        {% endfor %}
    ];

    $('#calendar').fullCalendar({
        header: {
            left: 'prev,next today',
            center: 'title',
            right: 'month,agendaWeek,agendaDay'
        },
        events: events
    });
});

</script>
{% endblock %}

</body>
</html>