<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Actualizar perfil</title>
    <style>
        .btn-custom {
            background-color: #343a40;
            color: #ffffff;
            border: none;
            transition: background-color 0.3s, color 0.3s;
        }

        .btn-custom:hover {
            background-color: #b3b3b3;
            color: #343a40;
        }
    </style>
</head>
<body>
{% extends 'base.html' %}

{% block content %}
  <h2>Actualizar perfil</h2>
  {% if image %}
    <p>Imagen actual:</p>
    <img src="{{ image.url }}" alt="{{ user.username }}'s profile picture" style="max-width: 200px; max-height: 200px;">
  {% else %}
    <p>No hay imagen de perfil disponible.</p>
  {% endif %}
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-custom">Actualizar</button>
  </form>
{% endblock %}
</body>
</html>
